
            body{
                background-image: url(img/fondo.jpg);
            }

            *{
                margin: 0;
                padding: 0;
                list-style: none;
                font-family: sans-serif;
            }

            #chat{
                position: fixed;
                width: 250px;
                height: 50px;
                bottom: 0;
                right: 20px;
                background: blue;
                z-index: 1;
                color: white;
                text-align: center;
                line-height: 40px;
                font-family: "Kaushan Script", cursive;
                font-size: 20px;
                border-radius: 20px 20px 0 0;
                cursor: pointer;

            }

            header{
                position: relative;
                margin:20px auto;
                width: 1000px;
                height: 120px;
            }

            #logo{
                position:absolute;
                top: 30px;
                left: 30px;
                width: 200px;
                height: 60px;
                font-family: "Kaushan Script", cursive;
                font-size: 50px;
                text-align: center;
                line-height: 60px;
                background: blue;
                border-radius: 10px 10px
            }

            .redes{
                position: absolute;
                width: 42px;
                height: 42px;
                background: #ccc;
                border-radius: 100%;
                text-align: center;
                line-height: 42px;
                color: white;
            }

            #icono1{
                top: 42px;
                right: 120px;
                background:cadetblue;
                background-size: contain;
            }

            #icono2{
                top: 42px;
                right: 71px;
                background: green;
            }

            #icono3{
                top: 42px;
                right: 19px;
                background: orange;
            }

            nav{
                position: relative;
                margin: auto;
                width: 1000px;
                height: 48px;
            }

            .botones{
                float: left;
                width: 196px;
                margin: 0px 2px;
                height: 48px;
                background: rgba(100, 0, 255, 1);
                font-family: 'Kaushan Script', cursive;
                color:white;
                text-align: center;
                line-height: 48px;
            }

            a .botones:hover{
                background: rgba(400, 0, 300,.4);
            }

            a .botones:active{
                background: rgba(1, 55, 172,.4);
            }

            #top{
                position: relative;
                margin:20px auto;
                width: 1000px;
                height: 192px;
            }

            #top ul{
                width: 1010px;
                height: 192px;
            }

            #top ul li{
                float: left;
                width: 326px;
                height: 192px;
                background: rgb(0, 0, 0);
                margin-right: 10px;
                color: white;
                text-align: center;
            
            }

            section{
                position: relative;
                margin: auto;
                width: 1000px;
                height: 453px;
                background: #aaa
            }

            aside#izq{
                position: absolute;
                left: 0;
                top: 0;
                width: 200px;
                height: 453px;
                background: rgba(100, 0, 255, 1);
            }

            aside#izq ul li{

                background: rgb(8, 147, 189);
                padding: 10px;
                margin: 2px 10px;
                list-style: square;
                list-style-position: inside;
                list-style-image:url(img/icono.png);
                font-family: "Kaushan Script", cursive;
                color: rgb(135, 7, 167)
            }

            aside#izq ul li a{
                text-decoration: none;
            }

            article{
                position: absolute;
                left: 200px;
                top: 0px;
                width: 600px;
                height: 453px;
                background: rgb(21, 41, 212,0.5);
                color: white;
                text-align: center;
            }

            aside#der{
                position: absolute;
                right: 0;
                top: 0;
                width: 200px;
                height: 453px;
                background:rgba(100, 0, 255, 1);
            }

            aside#der h1{
                width: 200px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                background: rgb(8, 147, 189);
                color: black;
                margin-bottom: 5px;
            }

            aside#der input{
                padding: 10px;
                margin: 4px 0px;
                width: 176px;
                text-align: center;
            }

            aside#der input[type="text"]{
                background: url(img/usuario.png);
                background-repeat: no-repeat;
                background-position: right;
                background-size: contain;
                background-color:white;
                color: blue;
            }

            aside#der input[type="password"]{
                background: url(img/clave.png);
                background-repeat: no-repeat;
                background-position: right;
                background-size: contain;
                background-color: white;
                color: blue;
            }

            aside#der button[type="submit"]{
                position: relative;
                width: 100px;
                height: 30px;
                border: 200;
                background: #aaa;
                cursor: pointer;

            }

            footer{
                position: relative;
                margin:20px auto;
                width: 1000px;
                height: 70px;
                background: rgba(1, 55, 172, 0.904)
            }
